version: '3.8'
services:
    php-apache-environment:
        container_name: php-apache
        build:
            context: ./php
            dockerfile: Dockerfile
        depends_on:
            - db
        volumes:
            - ./php/src:/var/www/html/
        ports:
            - 80:80
    db:
        container_name: db
        image: mysql
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: shop_inventory
            MYSQL_USER: ubuntu
            MYSQL_PASSWORD: Ubuntu@123
        ports:
            - "3306:3306"
        volumes:
            - mysql-data:/var/lib/mysql
            - /dump.sql:/docker-entrypoint-initdb.d/dump.sql

volumes:
  mysql-data:
